In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import psycopg2
import re

# settings
datapath = '/Users/mirkoknoche/MIMIC/'
pd.set_option('display.max_columns', 500)
pd.options.display.float_format = '{:,}'.format
%matplotlib inline

# database
conn_string = open('./intern/DB_connection.txt', 'r', encoding='UTF-8').read()

# Datenbank

In [ ]:
import psycopg2
gitpath = '/Users/mirkoknoche/Google Drive/neuefische/projects/MIMIC/'
conn_string = open(gitpath + 'intern/DB_connection.txt', 'r', encoding='UTF-8').read()
conn = eval('psycopg2.connect({})'.format(conn_string.strip()))

In [ ]:
sql = """select * from vw_t_chartevents LIMIT 1000"""
df_sql = pd.read_sql(sql, conn)

In [ ]:
df_sql.head()

In [ ]:
df_sql.info()

In [ ]:
conn.close()

# inputevents_cv

Inputs are any fluids which have been administered to the patient: such as oral or tube feedings or intravenous solutions containing medications.

Inputs exist in two separate tables: INPUTEVENTS_CV and INPUTEVENTS_MV. INPUTEVENTS_CV contains CareVue inputs, while INPUTEVENTS_MV contains Metavision inputs. Results from these tables can be unioned as observations are not duplicated across tables. For CareVue data, the rate and volume will be asynchronous, and only the CHARTTIME will be available. For rates, the CHARTTIME will correspond to a start time (when the drug was set to that rate). For volumes, the CHARTTIME will correspond to an end time.

| column | Description | Type |
|:-------|:------------|------|
| ROW_ID | ID from Database | numeric |
| SUBJECT_ID | Unique ID of a patient | numeric |
| HADM_ID | Unique ID of a patient hospital stay | numeric |
| ICUSTAY_ID | Unique ID of a patient ICU stay | numeric |
| CHARTTIME | time at which the measurement was charted at the bedside | datetime |
| ITEMID | Identifier for a single measurement type D_ITEMS.csv | numeric |
| AMOUNT | amount of a drug or substance administered to the patient either between the STARTTIME and ENDTIME | numeric |

In [ ]:
c = 1000000
df_input_cv = pd.read_csv(datapath + 'INPUTEVENTS_CV.csv', nrows=10000)

In [ ]:
sql = """select * from inputevents_cv 
        where subject_id in (select subject_id from diagnoses_icd di where ICD9_CODE = '51881')
        LIMIT 100000"""
df_input_cv = pd.read_sql(sql, conn)

In [ ]:
df_input_cv.shape

In [ ]:
df_input_cv.info()

We can see that already in the first 100000 rows some HADM_ID's are missing. Let us show how many, if we import only this column.

In [ ]:
sql = """select hadm_id from inputevents_cv """
df_test = pd.read_sql(sql, conn)

In [ ]:
df_test.shape

In [ ]:
df_test.isna().sum()

In [ ]:
print('Missing HADM_ID in percent: {:.2f}%'.format(float(df_test.isna().sum()) / df_test.shape[0] *100))

The amount of missing HADM_ID's ist tiny. We ignore these missing entrys.

In [ ]:
df_input_cv.head()

In [ ]:
sql = """select row_id from inputevents_cv """
df_test2 = pd.read_sql(sql, conn)

In [ ]:
df_test2.shape

In [ ]:
df_test2.nunique()

# Find extubations

In [14]:
conn = eval('psycopg2.connect({})'.format(conn_string.strip()))

In [ ]:
sql = """select i2.hadm_id, v.* 
        from ventsettings v
        inner join icustays i2 on i2.icustay_id = v.icustay_id 
        where (v.mechvent + v.oxygentherapy + v.extubated + v.selfextubated) > 0
            and i2.hadm_id in (select * from hadm_overview) 
        order by icustay_id, charttime """
df = pd.read_sql(sql, conn)

In [ ]:
df.shape

In [ ]:
df.head(3)

In [ ]:
df.info()

This dataframe contains all entries from the table chartevents of the selected hadm_id's. We have to find the timestamp of the extubations and we have to check if the first extubation is succesfull.

## Getting the timestamp

Checking the exturbations

In [ ]:
df_count_ex = df.groupby('icustay_id').extubated.sum()

In [ ]:
df[(df.extubated == 1)].shape

In [ ]:
fig = plt.figure(figsize=(10,7))
ax = fig.add_subplot(1, 1, 1)
ax.hist(df_count_ex)
plt.ylabel('Amount of ICU-stays')
plt.xlabel('Extubations')
plt.title('Histrogram of the extubations')
plt.savefig('./images/hist_extubations_per_icustay.png')
plt.show();

Many ICU stays have no explicit documented extubation. We need to extract the id's and find another way.

In [ ]:
# Building the difference for each row in 'mechvent' to get 
sql = """SELECT i2.hadm_id,
            v.icustay_id,
            v.charttime,
            v.mechvent,
            v.oxygentherapy,
            v.extubated,
            v.selfextubated,
            v.mechvent - lag(v.mechvent, 1) OVER (PARTITION BY v.icustay_id ORDER BY v.icustay_id, v.charttime) AS ex
          FROM ventsettings v
          JOIN icustays i2 ON i2.icustay_id::numeric = v.icustay_id
          WHERE (v.mechvent + v.oxygentherapy + v.extubated + v.selfextubated) > 0 AND (i2.hadm_id IN ( SELECT hadm_overview.hadm_id
                   FROM hadm_overview))"""
df_extub = pd.read_sql(sql, conn)

In [ ]:
df_extub.shape

In [ ]:
df_extub.head()

Now we have a new column 'ex'. If the value of 'mechvent' fall from 1 to 0, we get a -1, otherwise we get a +1. Now we can use the timestamp where ex is -1 as our extubation timestamp.

Saving that query as view: `vw_extubations`

In [ ]:
# Check the new column versus the documented extubations.
sql = """select * 
        from vw_extubations ve
        where ve.icustay_id in (select distinct icustay_id 
                                from vw_extubations ve 
                                where extubated = 1)
            and ve.extubated = 1
            and ve.ex <> -1
        order by ve.icustay_id, ve.charttime"""
df_check_ext1 = pd.read_sql(sql, conn)

In [ ]:
df_check_ext1.head(5)

In [ ]:
df_check_ext1.shape

Of 4,960 documented extubations, we cannot determine the expected flag by 1,244 entries as expected. For a better understanding we get a closer look to one icustay_id.

In [ ]:
df_extub[(df.icustay_id == 200203)].sort_values(by='charttime')

As you can see, the oxygentherapy has been documented here first and then the extubation. Due to the temporal proximity and the presumably dynamic documentation of an intensive care unit, the end of mechanical ventilation is determined as extubation. The time is needed to extract the last data before the extubation from the table chartevents. Therefore, a very precise time is not decisive here.

In [ ]:
# Creating query for extubation timestamps
sql = """select distinct i2.hadm_id, ve.icustay_id, ve.charttime
        from vw_extubations ve 
        inner JOIN icustays i2 ON i2.icustay_id::numeric = ve.icustay_id
        where ve.ex = -1
        group by i2.hadm_id, ve.icustay_id, ve.charttime
        order by ve.icustay_id"""
df_extub_time = pd.read_sql(sql, conn)

In [ ]:
df_extub_time.head()

Some icustay's includes more than one extubation. Saving that query as: `vw_timestamp_extubation`

## Create the label

In [ ]:
# Get an overview of the number of extubations
sql = """SELECT distinct i2.hadm_id, v.icustay_id, extu.ex, extu.amount,
            case 
                when extu.amount = 1 then 1
                when extu.amount is null then -1
                else 0
            end as label
        FROM ventsettings v
        inner JOIN icustays i2 ON i2.icustay_id::numeric = v.icustay_id
        left join (select distinct ve.icustay_id, ve.ex , count(ve.icustay_id) as amount
                    from vw_extubations ve 
                    where ve.ex = -1
                    group by ve.icustay_id, ve.ex) extu on extu.icustay_id = v.icustay_id 
        WHERE i2.hadm_id IN ( SELECT hadm_overview.hadm_id FROM hadm_overview)
        ORDER BY v.icustay_id"""
df_ex_ts = pd.read_sql(sql, conn)

In [ ]:
df_ex_ts.head()

In [ ]:
df_ex_ts.shape

In [ ]:
df_ex_ts.hadm_id.nunique()

In [ ]:
df_ex_ts.icustay_id.nunique()

In [ ]:
df_ex_ts.amount.fillna(0, inplace=True)

In [ ]:
df_ex_ts.groupby('label').icustay_id.count()

In [ ]:
fig = plt.figure(figsize=(10,7))
ax = fig.add_subplot(1, 1, 1)
x_val = ['no extubation','succes','failed']
y_val = df_ex_ts.groupby('label').icustay_id.count()
ax.bar(x= x_val, height=y_val)

for _, value in enumerate(y_val):
    plt.text(x_val[_], value, str(value), fontsize=14,
            horizontalalignment='center', va='bottom')

plt.ylabel('Amount of ICU-stays')
plt.xlabel('Extubations')
plt.title('Counting the extubations of an ICU stay')
plt.savefig('./images/extubations_per_icustay with label.png')
plt.show();

In [ ]:
df_ex_ts.groupby('label').icustay_id.count().values

In [ ]:
x = [1614, 2069, 3883]

In [ ]:
sum(x)

In [ ]:
df.groupby('extubated').count()

In [ ]:
err_ext = list(df_count_ex[df_count_ex == 0].index)

In [ ]:
len(err_ext)

In [ ]:
sql = """select * from transfers"""
df_icuunit = pd.read_sql(sql, conn)

df_icuunit = df_icuunit[df_icuunit.icustay_id.isin(err_ext)]
df_icuunit = df_icuunit[['icustay_id', 'curr_careunit']]
df_icuunit.drop_duplicates(inplace=True)

In [ ]:
df_plot = df_icuunit.groupby('curr_careunit').count()

In [ ]:
fig = plt.figure(figsize=(10,7))
ax = fig.add_subplot(1, 1, 1)
ax.bar(list(df_plot.index), height=list(df_plot.values.flatten()))
plt.ylabel('Missing extubations')
plt.xlabel('ICU units')
plt.title('Not documented extubations')
plt.savefig('./images/missing_extubations_per_unit.png')
plt.show();

In [ ]:
 df_plot

In [ ]:
df_qry = df[df.icustay_id == 200063]

In [ ]:
df_qry.head()

In [ ]:
df_qry['extube'] = df_qry['mechvent'].diff()
# df_qry['extube'] = df_qry['extube'].pow(2)

In [ ]:
df_qry['oxy'] = df_qry['oxygentherapy'].diff()
# df_qry['oxy'] = df_qry['oxy'].pow(2)

In [ ]:
df_qry.extube.fillna(0, inplace=True)
df_qry.oxy.fillna(0, inplace=True)

In [ ]:
df_qry.loc[160:180]

In [ ]:
df_qry[(df_qry['extube'] != 0) | (df_qry['oxy'] != 0)]

**Oxygentherapy** is ventilation without intubation

## Check extubation

In [ ]:
icustay_ids = df['icustay_id'].unique()
print(len(icustay_ids))

In [ ]:
sql = """select distinct icustay_id 
        from vw_extubations ve 
        where extubated = 1"""
df_icu_ext = pd.read_sql(sql, conn)

In [ ]:
df_icu_ext.shape

In [ ]:
print(f'Documentation of extubations: {df_icu_ext.shape[0] / len(icustay_ids) * 100:.1f} %')

There are 4,123 ICU stays with explicit documentated extubation. And 7,513 ICU stays totally.

In [ ]:
df['extube'] = df['mechvent'].diff()
df.extube.fillna(0, inplace=True)

In [ ]:
df.head()

In [ ]:
df[(df['extube'] < 0) & (~df['icustay_id'].isin(err_ext))].sample(10)

Möglicherweise ist die Beendigung der mechanischen Beatmung ein häufigeres und ebenso genaues Merkmal.We need another marker to get the timestamp of the extubation.

In [ ]:
df[(df['extubated'] == 1)].groupby('extube').count()

In [ ]:
for i in icustay_ids:
    df[(df['icustay_id'] == i)]['extube'] = df[(df['icustay_id'] == i)].mechvent.diff()

In [ ]:
df.groupby('extube').count()

In [13]:
conn.close()

In [ ]:
df.drop('extube', axis=1, inplace=True)

# GET THE HOLY DATA-SHIT

## Patient_Group

In [15]:
sql = """select * from vw_patient_group"""
df_goal = pd.read_sql(sql, conn)

In [16]:
df_goal.shape

(5848, 13)

In [17]:
df_goal.to_csv('data/patient_group.csv', encoding='UTF-8', index=False)

## Events from chartevents

In [23]:
sql = """select * from chartev_values"""
df1 = pd.read_sql(sql, conn)

In [24]:
df1.head()

,hadm_id,icustay_id,itemid,charttime,value,valuenum,valueuom,item,storetime,cgid,warning,error,resultstatus,stopped
0,"100,016.0","217,590.0","220,045.0",2188-05-28 08:00:00,91,91.0,bpm,hr,2188-05-28 08:02:00,"15,623.0",0.0,0.0,None,None
1,"100,016.0","217,590.0","220,181.0",2188-05-28 08:00:00,88,88.0,mmHg,blood_pr,2188-05-28 08:02:00,"15,623.0",0.0,0.0,None,None
2,"100,016.0","217,590.0","220,210.0",2188-05-28 08:00:00,18,18.0,insp/min,resp_rat,2188-05-28 08:02:00,"15,623.0",0.0,0.0,None,None
3,"100,016.0","217,590.0","220,277.0",2188-05-28 08:00:00,100,100.0,%,SaO2,2188-05-28 08:02:00,"15,623.0",0.0,0.0,None,None
4,"100,016.0","217,590.0","220,339.0",2188-05-28 08:00:00,5,5.0,cmH2O,PEEP,2188-05-28 07:36:00,"20,803.0",0.0,0.0,None,None

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74306 entries, 0 to 74305
Data columns (total 14 columns):
hadm_id         74306 non-null float64
icustay_id      74306 non-null float64
itemid          74306 non-null float64
charttime       74306 non-null datetime64[ns]
value           73903 non-null object
valuenum        73992 non-null float64
valueuom        59637 non-null object
item            74306 non-null object
storetime       74220 non-null datetime64[ns]
cgid            74220 non-null float64
warning         33854 non-null float64
error           33854 non-null float64
resultstatus    11633 non-null object
stopped         40377 non-null object
dtypes: datetime64[ns](2), float64(7), object(5)
memory usage: 7.9+ MB

In [26]:
df1.to_csv('data/chartevents_pre_extub.csv', encoding='UTF-8', index=False)

In [ ]:
df1.value.replace('None', np.nan, inplace=True)

In [ ]:
df1.value.isnull().sum()

In [ ]:
df1.value = df1.value.astype(float)

In [ ]:
df_chartev = pd.pivot_table(df1, index='icustay_id', columns='item', values='value')

In [ ]:
df_chartev.shape

### Merge into patien_group

In [ ]:
df_goal = df_goal.merge(df_chartev, how='inner', left_on='icustay_id', right_on='icustay_id')

In [ ]:
df_goal.head()

In [ ]:
df_goal.shape

## Events from labevents

In [18]:
sql = """select * from vw_labev_values"""
df2 = pd.read_sql(sql, conn)

In [20]:
df2.head(10)

   hadm_id  icustay_id  itemid value                  ts         item
0   100016   217,590.0   50802     2 2188-05-24 17:24:00  base_excess
1   100016   217,590.0   50820  7.43 2188-05-24 17:24:00           pH
2   100016   217,590.0   50821    86 2188-05-24 17:24:00         Pa02
3   100016   217,590.0   50912   1.1 2188-05-28 04:16:00    creatinin
4   100016   217,590.0   51221  31.1 2188-05-28 04:16:00          hct
5   100016   217,590.0   51222  10.3 2188-05-28 04:16:00           hb
6   100017   258,320.0   50802     4 2103-03-11 05:10:00  base_excess
7   100017   258,320.0   50820  7.52 2103-03-11 05:10:00           pH
8   100017   258,320.0   50821   171 2103-03-11 05:10:00         Pa02
9   100017   258,320.0   50912   0.8 2103-03-11 03:05:00    creatinin

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35188 entries, 0 to 35187
Data columns (total 6 columns):
hadm_id       35188 non-null int64
icustay_id    35188 non-null float64
itemid        35188 non-null int64
value         35188 non-null object
ts            35188 non-null datetime64[ns]
item          35188 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 1.6+ MB

In [22]:
df2.to_csv('data/labevents_pre_extub.csv', encoding='UTF-8', index=False)

In [9]:
df2.value = df2.value.str.replace('^DISREGARD PREVIOUS RESULT.*', '')

In [10]:
df2.value.replace('', np.nan, inplace=True)
df2.value.replace('-', np.nan, inplace=True)

In [11]:
df2.value.unique()

array(['2', '7.43', '86', '1.1', '31.1', '10.3', '4', '7.52', '171',
       '0.8', '41.4', '14.3', '10', '7.41', '39', '40.5', '14.0', '7.39',
       '365', '1.0', '42.0', '5', '7.47', '143', '0.7', '44.8', '15.2',
       '6', '7.48', '62', '24.7', '7.6', '13', '7.49', '122', '0.5',
       '23.6', '8.1', '0', '156', '28.8', '9.8', '7.46', '105', '0.6',
       '26.7', '10.1', '-2', '7.36', '146', '26.1', '8.3', '7.45', '257',
       '27.4', '10.7', '19', '99', '1.6', '27.7', '9.3', '7.40', '402',
       '31.5', '9.7', '1', '7.44', '72', '29.9', '7.35', '127', '28.2',
       '9.6', '7.33', '163', '10.8', '3', '76', '35.5', '11.8', '83',
       '37.3', '12.3', '8', '7.42', '27.1', '9.2', '180', '0.9', '8.9',
       '95', '27.6', '9.4', '-3', '7.37', '113', '-8', '7.32', '145',
       '0.4', '29.0', '390', '27.2', '-6', '201', '11.2', '90', '1.8',
       '43.5', '14.4', '12', '34.4', '12.4', '30.9', '10.5', '112',
       '35.4', '7.17', '5.2', '27.3', '9.0', '85', '33.9', '12.1', '-9',
       '7.20', '55', '31.9', '10.9', '67', '3.0', '29.5', '1.4', '9.5',
       '111', '1.3', '33.5', '66', '28.9', '-1', '78', '11.3', '93',
       '34.6', '11.6', '137', '26.0', '124', '30.8', '9.9', '1.2', '31.6',
       '120', '33.3', '10.2', '47', '-5', '7.31', '88', '6.7', '34.7',
       '75', '40.8', '13.9', '47.8', '16.0', '81', '0.3', '28.4', '144',
       '7.34', '155', '32.1', '11.0', '7.57', '91', '34.5', '11.7',
       '37.4', '77', '7.38', '97', '33.6', '11.1', '58', '43.1', '166',
       '32.0', '10.4', '101', '1.5', '11', '134', '-4', '139', '24.4',
       '7.8', '178', '25.4', '8.4', '161', '3.9', '32.7', '7.2', '33.7',
       '7.50', '276', '11.4', '23.8', '28.5', '30.0', '74', '34.2',
       '7.54', '23.1', '7.5', '23.2', '65', '28.7', '9.1', '9', '160',
       '3.5', '26.6', '8.5', '116', '2.7', '30.2', '117', '150', '28.6',
       '33.0', '14', '71', '80', '25.6', '8.6', '96', '3.2', '162',
       '28.3', '26.4', '119', '57', '2.9', '38.0', '12.6', '27.5', '33.2',
       '114', '27.0', '53', '32.9', '109', '7.3', '31.4', '7', '7.51',
       '1.7', '123', '2.2', '41.5', '84', '118', '25.9', '-11', '7.28',
       '165', '5.8', '54', '233', '29.6', '183', '3.4', '27.9', '79',
       '35', '3.7', '26.3', '267', '132', '172', '16.5', '70', '36.1',
       '129', '30.1', '195', '8.8', '22', '92', '30.6', '38.7', '28.0',
       '8.2', '199', '15.7', '4.9', '17', '104', '31.7', '24.3', '8.0',
       '25.1', '31.3', '89', '37.1', '12.9', '35.1', '186', '32.4', '2.4',
       '34.3', '12.0', '25.7', '4.3', '98', '36', '24.9', '94', '10.6',
       '34.0', '102', '20.6', '7.1', '179', '39.0', '12.7', '148', '28.1',
       '68', '329', '11.5', '32.6', '43', '8.7', '7.53', '24.8', '32.8',
       '174', '0.2', '27.8', '115', '128', '23.5', '7.7', '7.25', '2.5',
       '31.2', '213', '2.8', '26.8', '21.7', '7.4', '100', '23.9', '2.0',
       '30.5', '7.29', '2.3', '106', '39.6', '13.2', '2.1', '32.2', '82',
       '22.2', '218', '40.3', '13.7', '141', '11.9', '188', '1.9', '44.4',
       '13.8', '131', '34.8', '521', '30.4', '36.0', '200', '39.3',
       '34.1', '3.3', '193', '29.4', '236', '39.2', '12.5', '6.5', '37',
       '10.0', '-7', '2.6', '31.0', '36.9', '-14', '7.16', '189', '7.26',
       '4.0', '5.5', '136', '37.0', '12.8', '3.6', '32.3', '184', '4.4',
       '25.8', '3.8', '30.3', '38.4', '30.7', '49.7', '15.5', '147',
       '38.9', '13.0', '21.0', '22.7', '138', '26.5', '60', '4.7', '169',
       '23.0', '23.3', '401', '23.4', '29.7', '24.0', '22.3', '3.1',
       '185', '22.1', '270', '103', '5.1', '126', '7.30', '7.24', '4.8',
       '7.9', '167', '25.3', '31.8', '45', '13.4', '36.4', '18', '87',
       '221', '234', '194', '107', '15', '5.9', '22.9', '5.6', '151',
       '43.2', '51', '42.1', '23.7', '25.5', '142', '406', '39.1', '35.8',
       '140', '52', '206', '12.2', '73', '38.6', '42', '29.2', '182',
       '498', '21.9', '176', '44', '36.5', '210', '220', '540', '45.2',
       '15.8', '6.2', '15.1', '7.21', '6.0', '121', '4.5', '24.1', '-13',
       '7.15', '110', '7.27', '5.0', '40.7', '154', '159', '36.8', '33.8',
       '247', '14.8', '6.1', '22.8', '125', '21.8', '36.7', '33.4',
       '43.3', '509', '13.1', '203', '35.0', '7.23', '25.2', '376',
       '21.1', '6.9', '29.1', '43.9', '14.1', '7.19', '33.1', '25.0',
       '22.6', '6.4', '531', '29.8', '133', '24.6', '38.1', '36.2',
       '37.7', '42.9', '26.2', '61', '316', '22.0', '35.3', '36.3', '-10',
       '7.12', '260', '14.5', '227', '192', '7.22', '37.2', '37.5', '228',
       '32.5', '399', '325', '26.9', '38.2', '158', '153', '24.5', '191',
       '38.3', '29.3', '385', '6.6', '244', '177', '38.8', '208', '300',
       '46', '488', '7.00', '45.5', '13.5', '22.4', '7.55', '157', '7.0',
       '50.2', '15.4', '135', '130', '54.9', '17.7', '69', '35.6', '41.3',
       '170', '190', '7.13', '416', '173', '5.7', '22.5', '196', '20.1',
       '187', '202', '39.9', '50.6', '16.6', '149', '41', '46.5', '229',
       '181', '35.7', '263', '197', '37.8', '164', '36.6', '212', '27',
       '51.0', '17.8', '-18', '7.11', '37.9', '14.9', '4.6', '7.02', '63',
       '204', '256', '20.8', '19.9', '230', '6.3', '20.9', '56', '175',
       '255', '35.2', '253', '152', '-21', '33', '42.8', '7.58', '0.1',
       '258', '44.9', '16.4', '39.4', '34.9', '231', '266', '4.1', '437',
       '40.6', '38', '40.0', '13.3', '21', '-12', '44.6', '7.14', '42.7',
       '46.1', '16', '50', '268', '108', '414', '242', '245', '216',
       '37.6', '313', '41.6', '379', '49', '7.56', '20.4', '64', '4.2',
       '238', '484', '32', '209', '51.7', '16.7', '39.7', '358', '273',
       '7.07', '269', '440', '41.7', '44.7', '198', '24.2', '-15', '35.9',
       '314', '20', 'LESS THAN 0.5', '435', '42.4', '344', '335', '59',
       '240', '43.4', '14.2', '47.9', '14.6', '20.7', '207', '46.0',
       '421', '31', '23', '7.08', '39.5', '528', '44.2', '21.5', '277',
       '40.2', '14.7', '168', '492', '38.5', '29', '40', '39.8', '13.6',
       '332', '48.3', '16.2', '43.0', '386', '46.4', '15.0', '47.3',
       '15.6', '283', '217', '371', '475', '43.6', '318', '42.2', '21.2',
       '7.18', '215', '41.1', '45.0', '48', '286', '56.1', '359', '251',
       '46.3', '19.4', '395', '42.6', '223', '292', '34', '41.9', '403',
       '40.4', '495', '-16', '41.0', '573', '30', nan, '40.1', '248',
       '411', '630', '226', 'GREATER THAN 7.55', '21.6', '46.8', '224',
       '494', '21.3', '21.4', '-19', '17.3', '280', '7.06', '295', '252',
       '20.5', '211', '453', '41.8', '515', '19.8', '6.8', '272', '446',
       '449', 'DISREGARD RESULTS', '47.0', '18.5', '7.10', '28', '264',
       '25', '20.0', '369', '404', '43.7', '347', '431', '205', '317',
       '339', '438', '18.1', '520', '219', '41.2', '241', '19.2', '306',
       '5.3', '6.95', '288', '315', '-17', '249', '55.3', '18.6', '497',
       '561', '48.1', '18.9', '45.1', '506', '45.3', '545', '284', '47.1',
       '15.3', '214', '567', '42.5', '357', '308', '-20', '362', '343',
       '448', '302', '503', '311', '524', '307', '366', '389', '412',
       '408', '590', '15.9', '250', '553', '328', '507', '338', '42.3',
       '45.7', '246', '294', '47.6', '353', '18.2', '370', '456', '18.7',
       '324', '320', '5.4', '482', '462', '319', '7.64', '360', '290',
       '48.0', '432', '346', '45.6', '16.9', '50.7', '20.3', '40.9',
       '44.3', '26', '298', '7.05', '24', '7.59', '239', '468', '352',
       '232', '391', '303', '222', '261', '45.4', '543', '285', '361',
       '44.1', '47.2', '579', '44.5', '7.09', '243', '523', '48.6',
       '16.3', '51.2', '17.1', '512', '297', '299', '262', '387', '405',
       '310', '265', '477', '-25', '6.98', '336', '237', '57.4', '326',
       '293', '348', 'UNABLE TO REPORT', '49.3', '461', '44.0', '420',
       '0.0', '441', '235', '427', '46.9', '465', '-22', '50.0', '49.9'],
      dtype=object)

In [ ]:
df2.value = df2.value.astype(float)

In [ ]:
df_labev = pd.pivot_table(df2, index='hadm_id', columns='item', values='value')

In [ ]:
df_labev.shape

### Merge into patient_group

In [ ]:
df_goal = df_goal.merge(df_labev, how='inner', left_on='hadm_id', right_on='hadm_id')

In [ ]:
df_goal.shape

In [ ]:
df_goal.head()

In [ ]:
df_goal.icustay_id.nunique()

In [ ]:
df_goal.groupby('hadm_id').count()

In [27]:
conn.close()